.footer {
    position: fixed;
    display: flex;
    height: 70px;
    width: 375px;
    background-color: #5DB075;
    border-radius: 10px;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    left: 580px;
    box-shadow: 0px -3px 5px rgba(0, 0, 0, .5);
    z-index: 3;
}

.line {
    height: 40px;
    width: 1px;
    background-color: black;
    margin-top: 15px;
}

.menuItemImg {
    
}

.selected {
   filter: invert(100%);
   transition: filter 0.2s ease-in-out;
}

.menuItem {
    width: 33%;
    padding: 0 20px;
    display: flex;
    justify-content: center;
}



.menuItem:not(.menuItem:last-child) {
    border-right: 1px solid #000;
}
