.footer {
    position: fixed;
    display: flex;
    height: 70px;
    width: 375px;
    background-color: #5DB075;
    align-self: flex-end;
    border-radius: 10px;
    justify-content: space-between;
    bottom: 15px;
    left: 580px;
    box-shadow: 0px -3px 5px rgba(0, 0, 0, .5);
}

.line {
    height: 40px;
    width: 1px;
    background-color: black;
    margin-top: 15px;
}

.selected {
   filter: invert(100%);
}